@page "/my-projects"
@using ProjectIT.Client.Components.Dropdown
@using ProjectIT.Client.Components.Modal
@using ProjectIT.Client.Components.ProjectCard
@using ProjectIT.Shared.Dtos.Projects;
@inject NavigationManager navigationManager
@inject HttpClient httpClient
@inject IJSRuntime jsRuntime

<PageTitle>My Projects</PageTitle>

<div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
        <h3 class="fw-bold d-block my-3">My projects</h3>
        <div class="d-flex justify-content-between my-4">
            <button class="rounded rounded-3 bg-black text-white px-4" @onclick="@(() => navigationManager.NavigateTo("/create-project"))">Create new project</button>
            <RadzenDropDown TValue="string"
                            @bind-Value=@sortValue
                            Data=@(_sortValues.Select(sortVal => sortVal.ToString()))
                            Change="@OnSort"
                            Placeholder="Sort by"
                            Style="width: 20%; max-width: 20rem;" />
        </div>
        
        @if (projects != null)
        {
            var appliedProjects = projects.Where(p => p.Students.Count() > 0);

            if (appliedProjects.Any())
            {
                <span class="my-3 fs-6">Applied projects</span>
                @foreach (var project in appliedProjects)
                {
                    <div class="d-flex flex-row align-items-center">
                        <ProjectCard Id="@project.Id"
                                        Title="@project.Title"
                                        DescriptionHtml="@project.DescriptionHtml"
                                        Programmes="@project.Programmes"
                                        Ects="@project.Ects"
                                        Semester="@project.Semester" />

                        <Dropdown BootstrapIcon="gear-fill" CssClasses="ms-2">
                            <DropdownItems>
                                <DropdownItem Text="Edit" OnClick="@(() => navigationManager.NavigateTo($"/my-projects/{project.Id}/edit"))" />
                                <hr class="dropdown-divider" />
                                <DropdownItem Text="Delete" OpensModal="true" ModalIdentifier="deleteProjectConfirmation" OnClick="() => modal?.OpenModal(project)" />
                            </DropdownItems>
                        </Dropdown>
                    </div>
                }
                <hr class="w-50 align-self-center">
            }
            foreach (var project in projects.Where(p => p.Students == null || p.Students.Count() == 0))
            {
                <div class="d-flex flex-row">
                    <ProjectCard Id="@project.Id"
                                    Title="@project.Title"
                                    DescriptionHtml="@project.DescriptionHtml"
                                    Programmes="@project.Programmes"
                                    Ects="@project.Ects"
                                    Semester="@project.Semester"
                                    CssClasses="mt-3" />
                    <Dropdown BootstrapIcon="gear-fill" CssClasses="ms-2">
                        <DropdownItems>
                            <DropdownItem Text="Edit" OnClick="@(() => navigationManager.NavigateTo($"/my-projects/{project.Id}/edit"))" />
                            <hr class="dropdown-divider" />
                            <DropdownItem Text="Delete" OpensModal="true" ModalIdentifier="deleteProjectConfirmation" OnClick="() => modal?.OpenModal(project)" />
                        </DropdownItems>
                    </Dropdown>
                </div>
            }
        }
    </div>
</div>
<Modal @ref="modal" T="ProjectDetailsDto" Identifier="deleteProjectConfirmation" Title="Delete project?" CloseButtonText="Cancel">
    <Body>
        @($"Are you sure you want to delete the project \"{modal?.Data.Title}\"?")
    </Body>
    <Buttons>
        <button type="button" class="btn btn-black" @onclick="() => DeleteProject(modal!.Data.Id)">Delete</button>
    </Buttons>
</Modal>