@using ProjectIT.Client.Constants;
@using ProjectIT.Client.Components.Dropdown
@inject IStringLocalizer<EnumsResource> EnumsLocalizer

<div class=@($"card-zoom card-size mb-3 {CssClasses}")>
    <a href=@($"{PageUrls.Requests}/{Id}") class="link-dark text-decoration-none card-size d-block">
        <div class="shadow rounded bg-white rounded-1 px-4 py-4 mb-3 card-size overflow-hidden card-wrapper">
            <div class="fs-4 fw-bold truncate-text">@Title</div>
            <div class="d-flex justify-content-around padding-icons">
                <div class="d-flex">
                    <img src="images\educations.png" width="23rem" height="23rem">
                    <span class="mx-1"></span>
                    <div class="fs-7">
                        @for (int i = 0; i < 3 && i < Programmes.Count(); i++)
                        {
                            @Programmes.ElementAt(i).ToString()       
                            
                            if (i != 2 && i != Programmes.Count() - 1)
                            {
                                <span class="border-start border-2 border-dark border-opacity-10 mx-2"></span>
                            }
                        }
                        @if (Programmes.Count() > 3)
                        {
                            <span class="border-start border-2 border-dark border-opacity-10 mx-2"></span>
                            <span class="fs-7">+@(Programmes.Count() - 3)</span>
                        }
                    </div>
                </div>

                <div class="d-flex">
                    <img src="images\hashtags.png" width="22rem" height="22rem">
                    <span class="mx-1"></span>
                    <div class="fs-7">
                        @Ects.GetTranslatedString(EnumsLocalizer)
                    </div>
                </div>

                <div class="d-flex">
                    <img src="images\date.png" width="22rem" height="22rem">
                    <span class="mx-1"></span>
                    <div class="fs-7">
                        @Semester.Season @Semester.Year
                    </div>
                </div>

                <div class="d-flex">
                    <img src="images\groups.png" width="23rem" height="23rem">
                    <span class="mx-1"></span>
                    <div class="fs-7">
                        @(StudentGroup.Students?.Count())
                    </div>
                </div>

                <AuthorizeView>
                    <Authorized>
                        @if (context.User.IsInRole(AppRoles.Student))
                        {
                            <div class="d-flex">
                                <div class="fs-7">
                                    <span class=@($"border rounded rounded-3 px-2 fs-8 text-white d-inline-block {StatusBackgroundColor}")>@Status!.ToString()</span>
                                </div>
                            </div>
                        }
                    </Authorized>
                </AuthorizeView>

            </div>
            <hr>
            <div class="truncate-text line-clamp-3">
                @Description
            </div>
        </div>
    </a>
</div>