<div class="card-zoom card-size mb-3">
    <a href="counter" class="link-dark text-decoration-none card-size d-block">
        <div class="shadow rounded rounded-1 px-5 py-4 mb-3 card-size overflow-hidden card-wrapper">
            <div class="fs-4 fw-bold truncate-text">@Title</div>
            <div class="d-flex justify-content-around padding-icons">
                <div class="d-flex">
                    <img src="images\educations.png" width="25rem" height="25rem">
                    <span class="mx-1"></span>
                    <div class="fs-6">
                        @for (int i = 0; i < Educations.Count(); i++)
                        {
                            if (i == Educations.Count() - 1)
                            {
                                @Educations.ElementAt(i).ToString()
                            }
                            else
                            {
                                @Educations.ElementAt(i).ToString()
                                <span class="border-start border-2 border-dark border-opacity-10 mx-2"></span>
                            }
                        }
                    </div>
                </div>

                <div class="d-flex">
                    <img src="images\hashtags.png" width="25rem" height="25rem">
                    <span class="mx-1"></span>
                    <div class="fs-6">
                        @Ects.ToString()
                    </div>
                </div>

                <div class="d-flex">
                    <img src="images\date.png" width="25rem" height="25rem">
                    <span class="mx-1"></span>
                    <div class="fs-6">
                        @Date.Season @Date.Year
                    </div>
                </div>

                <div class="d-flex">
                    <img src="images\supervisor.png" width="25rem" height="25rem">
                    <span class="mx-1"></span>
                    <div class="fs-6">
                        @for (int i = 0; i < Supervisors.Count(); i++)
                        {
                            if (i == Supervisors.Count() - 1)
                            {
                                @Supervisors.ElementAt(i).FullName
                            }
                            else
                            {
                                @Supervisors.ElementAt(i).FullName
                                <span class="border-start border-2 border-dark border-opacity-10 mx-2"></span>
                                <br>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="truncate-text">
                @Description
            </div>
        </div>
    </a>
</div>