@page "/"
@using ProjectIT.Client.Components.Filter
@using ProjectIT.Client.Components.ProjectCard
@using ProjectIT.Client.Components.Search
@using ProjectIT.Client.Components.Tag
@using ProjectIT.Client.Http;
@using ProjectIT.Shared.Dtos.Projects;
@inject AnonymousClient anonymousClient

<div class="mt-3">
    <div class="row justify-content-center">
        <div class="col-md-3 filter-size">
            <div class="d-flex flex-column justify-content-center px-4">
                <p class="h1 fw-bold">@shownProjects?.Count()</p>
                <p class="h6">Projects found</p>
            </div>
            <div style="position: sticky;">
                <div class="my-4">
                    <FilterPanelTopics OnInitializedData="FilterPanelTopicsInitialized" DataChanged="OnTagClickedInFilterPanelTopics" />
                </div>
            
                <div class="my-4">
                    <FilterPanelSimple Title="Semester"
                                       Type="FilterType.Semester"
                                       OnInitializedData="(data) => FilterPanelInitialized(FilterType.Semester, data)"
                                       DataChanged="(filterTag) => OnTagClickedInFilterPanel(FilterType.Semester, filterTag)" />
                </div>
                <div class="my-4">
                    <FilterPanelSimple Title="ECTS Points"
                                       Type="FilterType.ECTS"
                                       OnInitializedData="(data) => FilterPanelInitialized(FilterType.ECTS, data)"
                                       DataChanged="(filterTag) => OnTagClickedInFilterPanel(FilterType.ECTS, filterTag)" />
                </div>
                <div class="my-4">
                    <FilterPanelSimple Title="Languages"
                                       Type="FilterType.Language"
                                       OnInitializedData="(data) => FilterPanelInitialized(FilterType.Language, data)"
                                       DataChanged="(filterTag) => OnTagClickedInFilterPanel(FilterType.Language, filterTag)" />
                </div>
            </div>
        </div>
        <div class="col-md-6 main-view-size">
            <div class="mb-4">
                <SearchField PlaceholderText="Search projects..." Height="2.4rem" Width="43rem" OnInputValueChanged="FilterProjectsBySearch" />
            </div>
            <div class="mb-4 row">
                <div class="col-md-8">
                    <TagsDisplay @bind-Tags="Tags" />
                </div>
                <div class="col-2 offset-md-2 marg p-0">
                    <div>
                        <button class="btn border px-2 py-0 btn-light dropdown-toggle" type="button" id="sort-btn" data-bs-toggle="dropdown" aria-expanded="false">
                            Sort By
                        </button>
                    </div>
                </div>
            </div>
            @if (shownProjects != null)
            {
                <Virtualize TItem="ProjectDetailsDto" Items="@shownProjects.Take(projectCardCount).ToList()" Context="project">
                        <ProjectCard Title="@project.Title"
                                        Description="@project.Description"
                                        Semester= "@project.Semester"
                                        Ects="@project.Ects"
                                        Supervisor="@project.Supervisor"
                                        Programmes="@project.Programmes" />
                </Virtualize>
            }
        </div>
    </div>
</div>