@attribute [Route(PageUrls.SupervisorDetails)]
@using ProjectIT.Client.Components.Panel
@using ProjectIT.Client.Components.Tag
@using ProjectIT.Client.Components.Filter
@using ProjectIT.Client.Components.ProjectCard
@using Microsoft.AspNetCore.Authorization
@using ProjectIT.Shared.Dtos.Projects;
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using ProjectIT.Client.Constants;
@attribute [Authorize]
@inject NavigationManager navigationManager
@inject HttpClient httpClient
@inject IStringLocalizer<EnumsResource> EnumsLocalizer

<PageTitle> Supervisor details </PageTitle>
<br>

@if (supervisor == null)
{
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="spinner-border spinner" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <div class="d-flex flex-row justify-content-center panel-gap">
        <div class="d-flex flex-column">
            <div>
                <img src=@("https://img.freepik.com/free-icon/user_318-159711.jpg") width="160rem" class="rounded-circle img-fluid" />
            </div>
        </div>
        <div>
            <div class="mb-4">
                <h1 class="fw-bold">@supervisor.FullName</h1>
            </div>
            @if (supervisorProjects is not null && supervisorProjects.Any())
            {
                @foreach (var project in supervisorProjects)
                {
                    <Virtualize TItem="ProjectDetailsDto" Items="@supervisorProjects.ToList()" Context="project">
                        <div class="d-flex flex-row align-items-center">
                            <ProjectCard Id="@project.Id"
                                            Title="@project.Title"
                                            DescriptionHtml="@project.DescriptionHtml"
                                            Programmes="@project.Programmes"
                                            Ects="@project.Ects"
                                            Semester="@project.Semester" />    
                        </div>
                    </Virtualize>
                }
            }
            else
            {
                <h6 class="text-secondary">@supervisor.FullName has not posted any projects yet.</h6>
            }
        </div>
        <div class="d-flex flex-column">
            <div>
                <Panel Title="Supervisor" Width="@panelWidth">
                    <p class="fw-normal pt-2">
                    <h6 class="fw-bold"> Info: </h6>
                    <div class="lh-lg">
                        @supervisor.FullName <br>
                        @supervisor.Email <br>
                        @supervisor.Profession.GetTranslatedString(EnumsLocalizer) <br>
                        <span class=@($"border rounded rounded-4 mt-2 px-3 fs-8 bg-success text-white d-inline-block {statusSupervisor} ")>@supervisor.Status.GetTranslatedString(EnumsLocalizer)</span>
                    </div>
                    </p>
                </Panel>
            </div>
            <div class="my-4">
                <Panel title="Topics" Width="@panelWidth">
                    @if (supervisor.Topics is not null)
                    {
                        <div class="d-flex flex-start flex-wrap py-2">
                            <TagsDisplay Tags="supervisor.Topics.Select(topic => new FilterTag { Tag = topic.Name, Selected = true }).ToList()" />
                        </div>
                    }
                </Panel>
            </div>
            <div class="d-flex justify-content-center">
                <button @onclick="(() => RequestSupervision(navigationManager))" type="button" class="btn bg-black text-white fw-bold px-3 py-1" style="width: fit-content;"> Request Supervision </button>
            </div>
        </div>
    </div>
}