@page "/create-request"
@using ProjectIT.Client.Components.Panel
@using ProjectIT.Shared.Enums
@using ProjectIT.Shared.Models;
@using ProjectIT.Client.Http
@inject AnonymousClient httpClient
@inject NavigationManager navManager

<div class="d-flex flex-row justify-content-center gap-5">
    <div class="d-flex flex-column my-4 py-3 gap-4">
        <Panel Title="Programmes">
            <RadzenCheckBoxList TValue="Programme" Data="@programmeWrappers" @bind-Value=@requestProgrammes
                TextProperty="StringValue" ValueProperty="Programme" Orientation="Orientation.Vertical" />
        </Panel>
        <Panel Title="ECTS">
            <RadzenRadioButtonList TValue="Ects?" Data="ectsWrappers" @bind-Value=request.Ects
                TextProperty="StringValue" ValueProperty="Ects" Orientation="Orientation.Vertical" />
        </Panel>
        @{
            DateTime date = DateTime.Now;
        }
        <Panel Title="Semester">
            <RadzenRadioButtonList @bind-Value=request.Semester TValue="Semester">
                <Items>
                    <RadzenRadioButtonListItem Text=@($"Spring {date.Year}")
                        Value="new Semester { Season = Season.Spring, Year = date.Year }" />
                    <RadzenRadioButtonListItem Text=@($"Autumn {date.Year}")
                        Value="new Semester { Season = Season.Autumn, Year = date.Year }" />
                    <RadzenRadioButtonListItem Text=@($"Spring {date.Year + 1}")
                        Value="new Semester { Season = Season.Spring, Year = date.Year + 1 }" />
                    <RadzenRadioButtonListItem Text=@($"Autumn {date.Year + 1}")
                        Value="new Semester { Season = Season.Autumn, Year = date.Year + 1 }" />
                </Items>
            </RadzenRadioButtonList>
        </Panel>
        <Panel Title="Languages">
            <RadzenCheckBoxList TValue="Language" Data="@languageWrappers" @bind-Value=@requestLanguages
                TextProperty="StringValue" ValueProperty="Language" Orientation="Orientation.Vertical" />
        </Panel>
        <Panel Title="Group members">
            <div class="d-flex flex-column gap-2">
                @for (int i = 0; i < groupMembers; i++)
                {
                    <div class="d-flex flex-row gap-2">
                        <input class="rounded-pill ps-3" @bind="email" placeholder="Student mail...">
                        <button class="btn btn-primary" @onclick="@(e => groupMembers++)"> Add </button>
                    </div>
                }
            </div>
        </Panel>
    </div>
    <div class="d-flex flex-column">
        <EditForm Model="@request" OnSubmit="SubmitRequestAsync">
            <p class="fs-7 fw-bold">Title</p>
            <InputText class="border border-0 shadow rounded-1 fs-7 px-3 mb-4 request-title"
                style="width: 45rem; height: 2.5rem" @bind-Value="request!.Title" placeholder="Title here..." />
            <p class="fs-7 fw-bold">Description</p>
            <RadzenHtmlEditor @bind-Value="@request.Description" class="border border-0 shadow mb-4 request-description"
                style="height:40rem; width: 45rem" />
            <div class="d-flex justify-content-end">
                <button type="button" @onclick="CancelRequest" class="btn btn-danger fw-bold py-1 btn-style">
                    Cancel
                </button>
                <button type="submit" class="btn btn-success fw-bold py-1 ms-3 btn-style">
                    Send
                </button>
            </div>
        </EditForm>
    </div>
    <div class="d-flex flex-column my-4 py-3 gap-4">
        <Panel Title="Topics">
            <div class="d-flex flex-column gap-2">
                <div class="d-flex flex-row gap-4">
                    <input class="rounded-pill ps-3" @bind="topicName" placeholder="Add topics...">
                    <button class="btn btn-primary" @onclick="AddTopic"> Add </button>
                </div>
                @foreach (var topic in topics!)
                {
                    <button
                        class="border border-dark rounded rounded-3 px-2 m-1 fs-8 bg-pink bg-opacity-10 d-inline-block tag-width">
                        @topic.Name
                        <img class="ms-1" src="images/baseline_clear_24.png" @onclick="@(e => DeleteTopic(topic))"
                            alt="Clear" width="9" height="9">
                    </button>
                }
            </div>
        </Panel>
        <Panel Title="Supervisors">
            <div class="d-flex flex-column gap-2">
                <div class="d-flex flex-row gap-4">
                    <input class="rounded-pill ps-3" @bind="supervisorName" placeholder="Add supervisors...">
                    <button class="btn btn-primary" @onclick=@AddSupervisor> Add </button>
                </div>
                @foreach (var supervisor in supervisors)
                {
                    <button
                        class="border border-dark rounded rounded-3 px-2 m-1 fs-8 bg-pink bg-opacity-10 d-inline-block tag-width">
                        @supervisor.FullName
                        <img class="ms-1" src="images/baseline_clear_24.png" @onclick="@(e => DeleteSupervisor(supervisor))"
                            alt="Clear" width="9" height="9">
                    </button>
                }
            </div>
        </Panel>
    </div>
</div>
