@using ProjectIT.Shared.Models
@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Tag Text="Test text" />

@{
    var date = new Date
    {
        Season = Season.Spring,
        Year = 2023,
    };

    var ects = Ects.Bachelor;

    var supervisors = new[]
    {
        new Supervisor { FullName = "Jannick Vestergaard" }
    };

    var educations = new[]
    {
        Education.BSWU,
        Education.BDS
    };

    var description = "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.";
}


<ProjectCard Title="ProjectIT - A very beautiful platform solving ITU's problems" Description="@description"
Date= "@date" Ects="@ects" Supervisors="@supervisors" Educations="@educations" ></ProjectCard>