@page "/mainpage"
@using ProjectIT.Client.Components.Filter
@using ProjectIT.Client.Components.ProjectCard
@using ProjectIT.Client.Components.Tag

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <!-- filtering options -->
            <FilterPanelTopics OnInitializedData="FilterPanelsInitialized" DataChanged="OnTagClickedInFilterPanel" />
            
            <FilterPanelSimple Title="Semester"
                            Type="FilterType.Semester"
                            OnInitializedData="FilterPanelsInitialized"
                            DataChanged="OnTagClickedInFilterPanel" />

            <FilterPanelSimple Title="ECTS Points"
                            Type="FilterType.ECTS"
                            OnInitializedData="FilterPanelsInitialized"
                            DataChanged="OnTagClickedInFilterPanel" />
            
            <FilterPanelSimple Title="Languages"
                            Type="FilterType.Language"
                            OnInitializedData="FilterPanelsInitialized"
                            DataChanged="OnTagClickedInFilterPanel" />
        </div>
        <div class="col-md-8">
            <!-- job proposal cards -->
            <TagsDisplay @bind-Tags="Tags" />

            <h4>Project Proposals</h4>
            <hr />
            <div class="card-deck">

                <ProjectCard Title="@title" Description="@description"
                        Date= "@date" Ects="@ects" Supervisors="@supervisors" Educations="@educations" ></ProjectCard>

                <ProjectCard Title="@title" Description="@description"
                        Date= "@date" Ects="@ects" Supervisors="@supervisors2" Educations="@educations" ></ProjectCard>
            </div>
        </div>
    </div>
</div>