@page "/projectDetails"
@using ProjectIT.Client.Components.Panel
@using ProjectIT.Client.Components.Filter
@using ProjectIT.Client.Components.Search
@using ProjectIT.Client.Components.Tag
@using ProjectIT.Client.Pages
@using ProjectIT.Shared.Enums
@using ProjectIT.Shared.Models
@using ProjectIT.Client.Components.ProjectDetailsView
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject NavigationManager navigationManager

<PageTitle> Project Details </PageTitle>
<br>
<div class="d-flex flex-row justify-content-center" style="gap: 50px;">
    <div class="d-flex flex-column" style="gap: 50px;">
        <div>
            <Panel Title="Project Info">
                <p class="pt-2">
                    Programme: <br>
                    <div class="d-flex" style="gap: 10px;">
                        @foreach (Programme programme in Programmes)
                        {       
                            <p1 class="fw-normal"> @programme </p1>
                            <div class="" style="border-left: 2px solid grey;"/>
                        }
                    </div>
                    <br> <br>
                    ECTS Points: <br>
                    <p1 class="fw-normal"> @Project.Ects </p1> <br> <br>
                    Semester: <br>
                    <p1 class="fw-normal"> Doesn't render Semester (fix this)  </p1> <br> <br>
                    Language: <br>
                        @foreach (Language language in Languages)
                        {
                            <p1 class="fw-normal"> @language </p1>  
                        }
                </p>
            </Panel>
        </div>

        <div>
            <Panel Title="Topics">
                <TagsDisplay @bind-Tags="Tags"/>
            </Panel>
        </div>
    </div>
    <ProjectDetailsView Title="@Project.Title" Description="@Project.Description" />
    <div class="d-flex flex-column" style="gap: 50px;">
        <div>
            <Panel Title="Supervisor">
                <p class="pt-2">
                    Info: <br>
                    @Supervisor.FullName <br>
                    @Supervisor.Email <br>
                    @Supervisor.Profession
                </p>
            </Panel>
        </div>
        <div>
            <Panel Title="Co-supervisor">
                <p class="pt-2">
                    Info: <br>
                    @CoSupervisor.FullName <br>
                    @CoSupervisor.Email <br>
                    @CoSupervisor.Profession
                </p>
            </Panel>
        </div>
        <button @onclick="(() => ApplyProject(navigationManager))" type="button" class="btn btn-success fw-bold"> Apply </button>
    </div>
</div>