@page "/projectDetails" /* Fix this to be {Id:int} later */
@using ProjectIT.Client.Components.Panel
@using ProjectIT.Client.Components.Filter
@using ProjectIT.Client.Components.Search
@using ProjectIT.Client.Components.Tag
@using ProjectIT.Client.Pages
@using ProjectIT.Shared.Enums
@using ProjectIT.Shared.Models
@using ProjectIT.Client.Components.ProjectDetailsView
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject NavigationManager navigationManager

<PageTitle> Project Details </PageTitle>
<br>

@if (project == null)
{
    <div class="spinner-border spinner" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <div class="d-flex flex-row justify-content-center project-details-view">
        <div class="d-flex flex-column panel-gap">
            <div>
                <Panel Title="Project Info">
                    <div class="d-flex flex-column" style="">
                        Programme: <br>
                        <div class="d-flex programmes">
                            @foreach (Programme programme in project.Programmes)
                            {
                                <p1 class="fw-normal"> @programme </p1>
                                <span class="border-start border-2 border-dark border-opacity-10 mx-2" />
                            }
                        </div>
                        <br>
                        ECTS Points: <br>
                        <p1 class="fw-normal"> @project.Ects </p1> <br>

                        Semester: <br>
                        <p1 class="fw-normal"> Doesn't render Semester (fix this) </p1> <br>

                        Language: <br>

                        @foreach (Language language in project.Languages)
                        {
                            <p1 class="fw-normal"> @language </p1>
                        }
                    </div>
                </Panel>
            </div>
            <div>
                <Panel Title="Topics">
                    <TagsDisplay @bind-Tags="Tags" />
                </Panel>
            </div>
        </div>
        <ProjectDetailsView Title="@project.Title" Description="@project.Description" />
        <div class="d-flex flex-column panel-gap">
            <div>
                <Panel Title="Supervisor">
                    <p class="fw-normal pt-2">
                    <h6 class="fw-bold"> Info: </h6>
                        @project.Supervisor.FullName <br>
                        @project.Supervisor.Email <br>
                        @project.Supervisor.Profession
                    </p>
                </Panel>
            </div>
            <div>
                <Panel Title="Co-supervisor">
                    <p class="fw-normal pt-2">
                    <h6 class="fw-bold"> Info: </h6>
                        @project.CoSupervisor?.FullName <br>
                        @project.CoSupervisor?.Email <br>
                        @project.CoSupervisor?.Profession
                    </p>
                </Panel>
            </div>
            <button @onclick="(() => ApplyProject(navigationManager))" type="button" class="btn btn-success fw-bold"> Apply
            </button>
        </div>
    </div>
}