@attribute [Route(PageUrls.MyProjects)]
@using ProjectIT.Client.Components.Dropdown
@using ProjectIT.Client.Components.Modal
@using ProjectIT.Client.Components.ProjectCard
@using Microsoft.AspNetCore.Authorization;
@using ProjectIT.Client.Constants;
@using ProjectIT.Shared.Dtos.Projects;
@inject NavigationManager navigationManager
@inject HttpClient httpClient
@inject IJSRuntime jsRuntime
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize(Roles = AppRoles.Supervisor)]

<PageTitle>My Projects</PageTitle>

<div class="d-flex justify-content-center">
    <div class="d-flex flex-column width-46">
        <h3 class="fw-bold d-block my-3">My projects</h3>
        <div class="d-flex justify-content-between my-4">
            <button class="rounded rounded-3 bg-black text-white px-4" @onclick="@(() => navigationManager.NavigateTo("/create-project"))">Create new project</button>
            <RadzenDropDown TValue="string"
                            @bind-Value=@sortValue
                            Data=@(_sortValues.Select(sortVal => sortVal.ToString()))
                            Change="@OnSort"
                            Placeholder="Sort by"
                            Style="width: 20%; max-width: 20rem; margin-right: 3.5rem;" />
        </div>
        
        @if (projects is not null && projects.Any())
        {
            var appliedProjects = projects.Where(p => p.AppliedStudentGroups?.Count() > 0).ToList();

            if (appliedProjects.Any())
            {
                <span class="my-3 fs-6">Applied projects</span>
                <Virtualize TItem="ProjectDetailsDto" Items="@appliedProjects" Context="project">
                    <div class="d-flex flex-row align-items-center">
                        <ProjectCard Id="project.Id"
                                    Title="@project.Title"
                                    DescriptionHtml="@project.DescriptionHtml"
                                    Semester= "@project.Semester"
                                    Ects="@project.Ects"
                                    Supervisor="@project.Supervisor"
                                    Programmes="@project.Programmes" />
                        <Dropdown BootstrapIcon="gear-fill" CssClasses="ms-2">
                            <DropdownItems>
                                <DropdownItem Text="Edit" OnClick="@(() => navigationManager.NavigateTo($"/projects/{project.Id}/edit"))" />
                                <hr class="dropdown-divider" />
                                <DropdownItem Text="Delete" OpensModal="true" ModalIdentifier="deleteProjectConfirmation" OnClick="() => modal?.OpenModal(project)" />
                            </DropdownItems>
                        </Dropdown>
                    </div>
                </Virtualize>
                <hr class="w-50 align-self-center">
            }

            var nonAppliedProjects = projects.Where(p => p.AppliedStudentGroups == null || p.AppliedStudentGroups.Count() == 0).ToList();

            <Virtualize TItem="ProjectDetailsDto" Items="@nonAppliedProjects" Context="project">
                <div class="d-flex flex-row align-items-center">
                    <ProjectCard Id="project.Id"
                                Title="@project.Title"
                                DescriptionHtml="@project.DescriptionHtml"
                                Semester= "@project.Semester"
                                Ects="@project.Ects"
                                Supervisor="@project.Supervisor"
                                Programmes="@project.Programmes"
                                CssClasses="mt-3" />
                    <Dropdown BootstrapIcon="gear-fill" CssClasses="ms-2">
                        <DropdownItems>
                            <DropdownItem Text="Edit" OnClick="@(() => EditProject(project.Id))" />
                            <hr class="dropdown-divider" />
                            <DropdownItem Text="Delete" OpensModal="true" ModalIdentifier="deleteProjectConfirmation" OnClick="() => OpenDeleteConfirmationModal(project)" />
                        </DropdownItems>
                    </Dropdown>
                </div>
            </Virtualize>
        }
        else
        {
            <div class="d-flex flex-column align-items-center position-absolute top-50 start-50 translate-middle">
                <span class="my-3 fs-4 fw-bold text-black-50">You have no projects</span>
            </div>
        }
    </div>
</div>
<Modal @ref="modal" T="ProjectDetailsDto" Identifier="deleteProjectConfirmation" Title="Delete project?" CloseButtonText="Cancel">
    <Body>
        @($"Are you sure you want to delete the project \"{modalData.Title}\"?")
    </Body>
    <Buttons>
        <button type="button" class="btn btn-dark" @onclick="() => DeleteProject(modalData.Id)">Delete</button>
    </Buttons>
</Modal>