@attribute [Route(PageUrls.ProjectDetails)]
@using ProjectIT.Client.Components.Panel
@using ProjectIT.Client.Components.Filter
@using ProjectIT.Client.Components.Search
@using ProjectIT.Client.Components.Tag
@using ProjectIT.Client.Constants;
@using ProjectIT.Client.Pages
@using ProjectIT.Shared.Enums
@using ProjectIT.Shared.Models
@using ProjectIT.Client.Components.DetailsView
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject NavigationManager navigationManager
@inject HttpClient httpClient
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<EnumsResource> EnumsLocalizer
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle> Request Details </PageTitle>
<br>

@if (request == null)
{
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="spinner-border spinner" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <div class="d-flex flex-row justify-content-center request-details-view">
        <div class="d-flex flex-column panel-gap">
            <div>
                <Panel Title="Request Info" Width="@panelWidth">
                    <div class="d-flex flex-column py-2">
                        Programmes: <br>
                        <div class="d-flex programmes">
                            @for (int i = 0; i < request.Programmes.Count(); i++)
                            {
                                if (i == request.Programmes.Count() - 1)
                                {
                                    <p1 class="fw-normal"> @request.Programmes.ElementAt(i).ToString() </p1>
                                }
                                else
                                {
                                    <p1 class="fw-normal"> @request.Programmes.ElementAt(i).ToString() </p1>
                                    <span class="border-start border-2 border-dark border-opacity-10"></span>
                                }
                            }
                        </div>
                        <br>
                        ECTS Points: <br>
                        <p1 class="fw-normal"> @request.Ects </p1> <br>

                        Semester: <br>
                        <p1 class="fw-normal"> @request.Semester?.Season @request.Semester?.Year </p1> <br>

                        Languages: <br>

                        @foreach (Language language in request.Languages)
                        {
                            <p1 class="fw-normal"> @language </p1>
                        }
                    </div>
                </Panel>
            </div>
            <div class="py-2">
                <Panel Title="Topics" Width="@panelWidth">
                    <TagsDisplay Tags="request.Topics.Select(topic => new FilterTag { Tag = topic.Name, Selected = true }).ToList()" />
                </Panel>
            </div>
        </div>
        <DetailsView Title="@request.Title" Description="@request.DescriptionHtml" />
        <div class="d-flex flex-column panel-gap">
            <div>
                <Panel Title="Supervisor" Width="@panelWidth">
                    <p class="fw-normal pt-2">
                    <h6 class="fw-bold"> Info: </h6>
                    <div class="lh-lg">
                        @project.Supervisor.FullName <br>
                        @project.Supervisor.Email <br>
                        @project.Supervisor.Profession.GetTranslatedString(EnumsLocalizer) <br>
                        <span class=@($"border rounded rounded-3 px-2 fs-8 text-white d-inline-block {statusSupervisor} ")>@project.Supervisor.Status.GetTranslatedString(EnumsLocalizer)</span>
                    </div>
                    </p>
                </Panel>
            </div>
            <AuthorizeView>
                <Authorized>
                    @if (context.User.IsInRole(AppRoles.Supervisor))
                        {
                            if (request.Supervisors.Any(s => s.Email == userEmail))
                            {
                                <div class="d-flex flex-row justify-content-between">
                                    <button @onclick="(() => AcceptRequest(request.Id))" type="button" class="btn fw-bold edit-btn-green"> 
                                        Accept
                                    </button>
                                    <button @onclick="(() => DeclineRequest(request.Id))" type="button" class="btn fw-bold edit-btn-red"> 
                                        Decline
                                    </button>
                                </div>
                            }
                        }
                </Authorized>
            </AuthorizeView>
            
        </div>
    </div>
}