@attribute [Route(PageUrls.RequestDetails)]
@using ProjectIT.Client.Components.Panel
@using ProjectIT.Client.Components.Filter
@using ProjectIT.Client.Components.Search
@using ProjectIT.Client.Components.Tag
@using ProjectIT.Client.Constants;
@using ProjectIT.Client.Pages
@using ProjectIT.Shared.Enums
@using ProjectIT.Shared.Models
@using ProjectIT.Client.Components.DetailsView
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject NavigationManager navigationManager
@inject HttpClient httpClient
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<EnumsResource> EnumsLocalizer
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle> Request Details </PageTitle>
<br>

@if (request == null)
{
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="spinner-border spinner" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <div class="d-flex flex-row justify-content-center request-details-view">
        <div class="d-flex flex-column">
            <div>
                <Panel Title="Request Info" Width="@panelWidth">
                    <div class="d-flex flex-column py-2">
                        <p class="fw-bold m-0">Programmes:</p>
                        <div class="d-flex flex-wrap programmes">
                            @for (int i = 0; i < request.Programmes.Count(); i++)
                            {
                                <p1 class="fw-normal"> @request.Programmes.ElementAt(i).ToString() </p1>
                                if (i != request.Programmes.Count() - 1)
                                {
                                    <span class="border-start border-2 border-dark border-opacity-10"></span>
                                }
                            }
                        </div>
                        <p class="fw-bold m-0 mt-3">ECTS Points:</p>
                        <p1 class="fw-normal"> @request.Ects.GetTranslatedString(EnumsLocalizer) </p1>

                        <p class="fw-bold m-0 mt-3">Semester:</p>
                        <p1 class="fw-normal"> @request.Semester?.Season @request.Semester?.Year </p1>

                        <p class="fw-bold m-0 mt-3">Languages:</p>
                        @foreach (Language language in request.Languages)
                        {
                            <p1 class="fw-normal"> @language </p1>
                        }
                    </div>
                </Panel>
            </div>
            @if (request.Topics is not null && request.Topics.Any())
            {
                <div class="my-2">
                    <Panel Title="Topics" Width="@panelWidth">
                        <TagsDisplay Tags="request.Topics?.Select(topic => new FilterTag { Tag = topic.Name, Selected = true }).ToList()" />
                    </Panel>
                </div>
            }
            else
            {
                <div class="my-2">
                    <Panel Title="Topics" Width="@panelWidth">
                        <div class="d-flex flex-column align-items-center">
                            <span class="my-3 fs-7 fw-bold text-black-50">No topics</span>
                        </div>
                    </Panel>
                </div>
            }
        </div>
        <DetailsView Title="@request.Title" Description="@request.DescriptionHtml" />
        <div class="d-flex flex-column">
            <div class="mt-2">
                <Panel Title="Group members" Width="@panelWidth">
                    <p class="fw-normal pt-2 text-break">
                        <h6 class="fw-bold"> Info: </h6>
                        <div class="lh-lg">
                            @if (request.StudentGroup is not null && request.StudentGroup.Students.Any())
                            {
                                var sortedList = request.StudentGroup.Students.OrderBy(s => s.FullName);

                                foreach (Student student in sortedList)
                                {
                                    <div>
                                        <p class="my-0">@student.FullName</p>
                                        <p class="my-1">@student.Email</p>
                                    </div>
                                    if (student != sortedList.Last())
                                    {
                                        <hr class="my-2">
                                    }
                                }
                            }
                        </div>
                    </p>
                </Panel>
            </div>
            <AuthorizeView>
                <Authorized>
                    @if (context.User.IsInRole(AppRoles.Student))
                    {
                        <div class="mt-2">
                            <Panel Title="Supervisors requested" Width="@panelWidth">
                                <p class="fw-normal pt-2 text-break">
                                    <div class="lh-lg">
                                        @if (request.Supervisors is not null && request.Supervisors.Any())
                                        {
                                            var sortedList = request.Supervisors.OrderBy(s => s.FullName);

                                            foreach (Supervisor supervisor in sortedList)
                                            {
                                                <div>
                                                    <a href=@($"{PageUrls.Supervisors}/{supervisor.Id}") class="text-decoration-none">
                                                        <p class="my-0">@supervisor.FullName</p>
                                                    </a>                                                    
                                                </div>
                                                if (supervisor != sortedList.Last())
                                                {
                                                    <hr class="my-2">
                                                }
                                            }
                                        }
                                    </div>
                                </p>
                            </Panel>
                        </div>
                    }
                    @if (context.User.IsInRole(AppRoles.Supervisor))
                    {
                        if (request.Supervisors is not null && request.Supervisors.Any(s => s.Email == userEmail))
                        {
                            <div class="d-flex flex-column">
                                <button @onclick="(() => AcceptRequest(request.Id))" type="button" class="btn btn-success fw-bold mt-2 mb-4"> 
                                    Accept
                                </button>
                                <button @onclick="(() => DeclineRequest(request.Id))" type="button" class="btn btn-danger fw-bold mb-4"> 
                                    Decline
                                </button>
                            </div>
                        }
                    }
                </Authorized>
            </AuthorizeView>
        </div>
    </div>
}