@attribute [Route(PageUrls.Projects)]
@using ProjectIT.Client.Components.Filter
@using ProjectIT.Client.Components.ProjectCard
@using ProjectIT.Client.Components.Search
@using ProjectIT.Client.Components.Tag
@using ProjectIT.Client.Http;
@using ProjectIT.Shared.Dtos.Projects;
@inject AnonymousClient anonymousClient
@inject NavigationManager navigationManager

<div class="mt-3">
    <div class="row justify-content-center">
        <div class="col-md-3 filter-size">
            <div class="d-flex flex-column justify-content-center px-4">
                <p class="h1 fw-bold">@filteredProjects?.Count()</p>
                <p class="h6">Projects found</p>
            </div>
            <div>
                <div class="my-4">
                    <FilterPanelTopics OnInitializedData="FilterPanelTopicsInitialized" DataChanged="OnFilterPanelTopicsTagChanged" />
                </div>
                <div class="my-4">
                    <FilterPanelSimple Title="Semester"
                                       Type="FilterType.Semester"
                                       OnInitializedData="(data) => FilterPanelInitialized(data)"
                                       DataChanged="OnFilterPanelTagChanged" />
                </div>
                <div class="my-4">
                    <FilterPanelSimple Title="ECTS Points"
                                       Type="FilterType.ECTS"
                                       OnInitializedData="(data) => FilterPanelInitialized(data)"
                                       DataChanged="OnFilterPanelTagChanged" />
                </div>
                <div class="my-4">
                    <FilterPanelSimple Title="Languages"
                                       Type="FilterType.Language"
                                       OnInitializedData="(data) => FilterPanelInitialized(data)"
                                       DataChanged="OnFilterPanelTagChanged" />
                </div>
            </div>
        </div>
        <div class="col-md-6 main-view-size">
            <div class="mb-4">
                <SearchField @ref="searchField" PlaceholderText="Search projects..." Height="2.4rem" Width="43rem" OnInputValueChanged="FilterProjects" />
            </div>
            <div class="mb-4 row">
                <div class="col-md-8">
                    <TagsDisplay @bind-Tags="tags" TagsAreClickable="true" OnTagClicked="OnTagClickedInTagsDisplay" />
                    @if (tags.Any(t => t.Selected))
                    {
                        <span class="clearbtn ms-3">
                            <button class="btn p-0" @onclick="ClearFilters">Clear filters</button>
                        </span>
                    }
                </div>
                <div class="col-2 marg p-0">
                    <RadzenDropDown TValue="string"
                                    @bind-Value=@sortValue
                                    Data=@(sortValues.Select(sortVal => sortVal.ToString()))
                                    Change="@OnSort"
                                    Placeholder="Sort by"
                                    Style="width: 100%; max-width: 20rem;" />
                </div>
            </div>
            @if (filteredProjects != null)
            {
                <Virtualize TItem="ProjectDetailsDto" Items="@shownProjects" Context="project">
                        <ProjectCard Id="project.Id"
                                     Title="@project.Title"
                                     DescriptionHtml="@project.DescriptionHtml"
                                     Semester= "@project.Semester"
                                     Ects="@project.Ects"
                                     Supervisor="@project.Supervisor"
                                     Programmes="@project.Programmes" />
                </Virtualize>
            }
            @if (filteredProjects!.Count > pageSize)
            {
                <div class="pageButtonsDiv my-3 py-2">
                    <button class="btn mx-1 rounded rounded-5 btn bg-black text-white" @onclick="@(e => NewPage("prev"))"> Previous </button>

                    @for (int i = 0; i < totalPages; i++)
                    {
                        var pageNumber = i;
                        <button class="btn mx-1 rounded rounded-5 @(currentPage == pageNumber ? "bg-white text-black shadow" : "bg-black text-white")"
                        @onclick="@(e => UpdateProjects(pageNumber))"> @(i+1)</button>
                    }

                    <button class="btn mx-1 rounded rounded-5 bg-black text-white" @onclick="@(e => NewPage("next"))"> Next </button>
                </div>
            }
        </div>
    </div>
</div>