@using ProjectIT.Client.Components.Login
@using ProjectIT.Client.Constants;
@inject NavigationManager Navigation

<body>
    <nav class="navbar">
        <div class="d-flex align-items-center">
            <div class="d-flex flex-column justify-content-center py-2 px-3">
                <img src="images/projectit-logo.png" width="80rem">
            </div>
            <div class="line-style"></div>
            <h5 class="text-white p-3"> IT UNIVERSITETET I KØBENHAVN</h5>
            <AuthorizeView>
                <NotAuthorized>
                    <div class="d-flex ms-4 gap-2">
                        <div class="decoration-on-hover dimensions d-flex align-items-center justify-content-center">
                            <div>
                                <a class=@($"text-decoration-none py-4 fw-bold text-white {(activeTab == PageUrls.Projects ? "active" : "")}") href="@PageUrls.Projects" @onclick="() => SetActiveTab(PageUrls.Projects)">Projects</a>
                            </div>
                        </div>
                        <div class="decoration-on-hover dimensions d-flex align-items-center justify-content-center">
                            <div>
                                <a class=@($"text-decoration-none py-4 fw-bold text-white {(activeTab == PageUrls.Supervisors ? "active" : "")}") href="@PageUrls.Supervisors" @onclick="() => SetActiveTab(PageUrls.Supervisors)">Supervisors</a>
                            </div>
                        </div>
                    </div>
                </NotAuthorized>
                <Authorized>
                    <div class="d-flex ms-4 gap-2">
                        <div class="decoration-on-hover dimensions d-flex align-items-center justify-content-center">
                            <div>
                                <a class=@($"text-decoration-none py-4 fw-bold text-white {(activeTab == PageUrls.Projects ? "active" : "")}") href="@PageUrls.Projects" @onclick="() => SetActiveTab(PageUrls.Projects)">Projects</a>
                            </div>
                        </div>
                        <div class="decoration-on-hover dimensions d-flex align-items-center justify-content-center">
                            <div>
                                <a class=@($"text-decoration-none py-4 fw-bold text-white {(activeTab == PageUrls.Supervisors ? "active" : "")}") href="@PageUrls.Supervisors" @onclick="() => SetActiveTab(PageUrls.Supervisors)">Supervisors</a>
                            </div>
                        </div>
                        @if (context.User.IsInRole(AppRoles.Student))
                        {
                            <div class="decoration-on-hover dimensions d-flex align-items-center justify-content-center">
                                <div>
                                    <a class=@($"text-decoration-none py-4 fw-bold text-white {(activeTab == PageUrls.MyRequests ? "active" : "")}") href="@PageUrls.MyRequests" @onclick="() => SetActiveTab(PageUrls.MyRequests)">My Request</a>
                                </div>
                            </div>
                        }

                        @if (context.User.IsInRole(AppRoles.Supervisor))
                        {
                            <div class="decoration-on-hover dimensions d-flex align-items-center justify-content-center">
                                <div>
                                    <a class=@($"text-decoration-none py-4 fw-bold text-white {(activeTab == PageUrls.MyProjects ? "active" : "")}") href="@PageUrls.MyProjects" @onclick="() => SetActiveTab(PageUrls.MyProjects)">My Projects</a>
                                </div>
                            </div>
                        }
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>
        <LoginDisplay />
    </nav>    
</body>